---
# This will download wordpress app

- name: Download WordPress
  get_url: url=http://wordpress.org/wordpress-{{ wp_version }}.tar.gz dest=/tmp/wordpress-{{ wp_version }}.tar.gz sha256sum="{{ wp_sha256sum }}"
  
- name: Extract archive
  ansible.builtin.unarchive:
    src: /tmp/wordpress-{{ wp_version }}.tar.gz
    dest: /var/www/html
    remote_src: yes
    extra_opts: [--strip-components=1]
    
- name: Creates the wp-config.php file
  template: src=templates/wp-config.php.j2 dest=/var/www/html/wp-config.php
